// Non-modular or client styles for .l-header region.

.l-header,
.sticky {
  margin-bottom: 15px;
}

.sticky {
  border-bottom: 1px solid $blue;
}

// Top Bar
//--------------------------------------------------
.top-bar {
  .title-area {
    h1 {
      font-family: 'Classica One', cursive;

      a {
        padding-top: 20px;
      }
    }
  }
}

.top-bar-section {}
.top-bar-section .left {}
.top-bar-section .right {}
